* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #C3E0E5;
}

header {
    background-color: #41729F;
}

header > p {
    font-size: 30px;
    display: flex;
    justify-content: end;
    font-family: 'inter', sans-serif;
}

h1 {
    font-family: 'inter', sans-serif;
    text-align: center;
    font-size: 50px;
    font-weight: 100;
}

h2 {
    font-size: 30px;
    width: 140px;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    background-color: #274472;
    color: white;
    font-family: 'inter', sans-serif;
    cursor: pointer;
}

h3 {
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    font-family: 'inter', sans-serif;
    margin-top: 80px;
}

u {
    color: black;
}

p {
    font-size: 26px;
    text-align: center;
}

div > p {
    font-size: 30px;
    color: rgb(39, 38, 38);

}


span {
    margin-left: 10px;
    border-radius: 10px;
    background-color: rgb(39, 38, 38);
}


button {
    border: none;
    padding: 10px;
    font-size: 30px;
    border-radius: 10px;
}

.palavrasEng {
    display: grid;
    place-items: center;
    gap: 40px;
    margin-top: 40px;
    grid-template-columns: 1fr 1fr;
}

.palavrasEng :hover {
    background-color: #41729F;
}

.palavraIngles {
    color: whitesmoke;
}

.palavraPortugues {
    color: whitesmoke;
}

.exemploDialogo {
    background-color: #41729F;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 40px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
}

.modeloPalavra {
    background-color: #274472;
    height: 400px;
    width: 800px;
    position: fixed;
    display: none;
    border: 1px solid #222;
    border-radius: 15px;
    top: 50%;
    left: 50%;
    padding: 15px;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.fundoDicionario {
    width: 100%;
    height: 100%;
    opacity: 70%;
    background-color: rgb(216, 216, 216);
    position: fixed;
    display: none;
    z-index: 9;
    inset: 0;
}

.abrirAba {
    cursor: pointer;
}

.explicacaoIngles {
    font-family: 'inter', sans-serif;
    font-size: 25px;
}

.explicacaoPortugues {
    font-family: 'inter', sans-serif;
    font-size: 25px;
}

.modeloCabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 55px;
}

.abaFrases {
    margin: auto;
    border: none;
    border-radius: 30px;
    background-color: #41729F;
    width: 1000px;
    height: 400px;
}

.frasePortugues {
    font-size: 35px;
    color: white;
    margin-top: 30px;
}

.fraseIngles {
    color: white;
    font-size: 35px;
    margin-top: 30px;
}
