header > p {
    font-size: 30px;
    display: flex;
    justify-content: end;
    font-family: 'inter', sans-serif;
}

h1 {
    font-family: 'inter', sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 100;
}

h2 {
    font-size: 30px;
    border: 1px solid black;
    width: 140px;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    background-color:#D9D9D9;
    font-family: 'inter', sans-serif;
}

p {
    font-size: 26px;
    text-align: center;
}

.palavrasEng {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
}

.exemploDialogo {
    border: 1px solid black;
    background-color: #D9D9D9;
}

div > p {
    font-size: 30px;
    color: rgb(39, 38, 38);
}

span {
    margin-left: 10px;
    border-radius: 10px;
    background-color: rgb(39, 38, 38);
}

div > h1 {
    border-bottom: 3px solid black;
}